.header {
  display: flex;
  flex-flow: row nowrap;
  color: white;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
  padding-left: 30px;
  font-size: 20px;
}

.logo {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

.activeLink {
  text-decoration: underline;
}
